/* colors 
------------
blue: #15212E
pink: #F84C5F
dark-gray: #999999
light-gray: #EEEEEE */

/* Global
-------------- */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  cursor: none;
  
  font-family: Arial, Helvetica, sans-serif;
  background-color:white ;
  color: white;
}
body.background-blue {
  background-color: #15212E;
}
/* cursor
-------------- */
.custom-cursor {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  background-color:  #F84C5F;
 
}
/* @keyframes cursorAnim1 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(3);
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.currsor-expand {
  animation: curorAnim1 .5s forwards;
  border: 2px solid #F84C5F;
} */
.content-wrapper {
  padding: 40px;
  height: 100vh;
  position: relative;

}

/* Nav bar
-------------- */
.nav-icon-container {
  margin: 0;
  padding: 40px;
  display: inline-block;
  cursor: pointer;
  position: absolute;
  right: 0;
  bottom: 0;
}

.bar1, .bar2, .bar3 {
  width: 40px;
  height: 4px;
  background-color: white;
  border-radius: 10%;
  margin: 7px 0;
  transition: 0.4s;
}


.nav-icon-container :first-child{
  margin-top: 0;
}
.nav-icon-container :nth-child(2){
  width: 30px;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.nav-list-wrapper {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 30%;
  left: 50%;


}
.nav-list-container li {
  padding: 1.5em;
  list-style: none;
}

.nav-list-container a {
  margin: 0;
  padding: 0px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2.5em;
  font-weight: 400;
  color: #999999;
}

/* Logo
-------------- */
.logo-container {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
}

.logo {
  width: 25vh;

}

img.logo-small {
  width: 90px

}

.logo-title {
  margin: 2% 0 0 0;
  text-align: center;
  text-transform: uppercase;
}

.logo-title-color {
  color: #F84C5F;

}

.side-decoration{
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 43rem;

  color: #EEEEEE;
  /* =============== i don't know why it's not aligned to the edge of the viewport =================*/
  transform: rotate(90deg);
  position: absolute;
  left: 0;
  top: 0;
}

/* Social networks
-------------- */
.social-container {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 244px;
  position: fixed;
  top: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


