/* colors 
------------
blue: #15212E
pink: #F84C5F
dark-gray: #999999
mid-gray: #EEEEEE 
light-gray:  #F3F3F3*/

/* Fonts 
------------
/* font-family: 'Montserrat', sans-serif; */

/* Global
-------------- */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  
  cursor: none;
  
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.5em;
  background-color:white ;
  color: #15212E;
}
body.home-page {
  overflow: hidden;
  background-color: #15212E; 
}
body.projects-page {
  background-color: #F7F7F7;
}

.the-fork-page {
  background-color: #EEEEEE;
}

/* cursor
-------------- */
.custom-cursor {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  background-color:  #F84C5F;
 
}
/* @keyframes cursorAnim1 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(3);
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.currsor-expand {
  animation: curorAnim1 .5s forwards;
  border: 2px solid #F84C5F;
} */ 
header {
  margin-bottom: 5em;
} 

.content-wrapper {
  padding: 40px;
  height: 100vh;
  position: relative;

}

h1 {
  margin: 0;
  
  font-size: 1.953em;
  font-weight: 700;
  text-transform: uppercase;
}
h2 {
  margin: 0;

  font-size: 1.25em;
  font-weight: 200;
  line-height: 0;
  text-transform: initial;

  color:#999999;
}
h3 {
  margin: 0 0 3.5rem 0;

  font-size: 1.25em;
  font-weight: 500;
}
h4 {
  margin: 0 0 1.875rem 0;

  font-size: 1.25em;
  font-weight: 200;
  color: #F84C5F;
}
p {
  letter-spacing: .05em;
}

.page-title {
  margin: 0 0 4rem 6.5rem;
  padding: 0;
  display: inline-block;
  position: relative;
}

.page-title::after {
  content: '';
  display: block;
  width: 110%;
  height: 4px;
  background-color:  #F84C5F;

  position: absolute;
  bottom: 49%;
  right: -5%;
  transition: width .3s;
}

/* Nav bar
-------------- */

/* .nav-icon-container {
  margin: 0;
  padding: 50px 40px 40px 40px;
  display: inline-block;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
}

.bar1, .bar2, .bar3 {
  width: 30px;
  height: 3px;
  background-color: white;
  border-radius: 10%;
  margin: 6px 0;
  transition: 0.4s;
}

div.dark-bar {
  background-color: #15212E;
}

.nav-icon-container :first-child{
  margin-top: 0;
}
.nav-icon-container :nth-child(2){
  width: 22px;
}
.nav-icon-container :nth-child(3){
  margin-bottom: 0;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.nav-list-wrapper {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 30%;
  left: 50%;
}
.nav-list-container li {
  padding: 1.5em;
  list-style: none;
}

.nav-list-container a {
  margin: 0;
  padding: 0px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2.5em;
  font-weight: 400;
  color: #999999;
}
.nav-list-item::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color:  #F84C5F;

  position: absolute;
  bottom: 49%;
  right: -10%;
  transition: width .3s;

}
.nav-list-item:hover::after {
  width: 120%;
  transition: width .3s;
} */

/* Logo
-------------- */
.logo-container {
  text-align: center;
  position: absolute;
  top: calc(50% - 110px);
  left: calc(50% - 122px);
}

.logo {
  width: 22vh;
}

img.logo-small {
  width: 55px
}

.logo-title {
  margin: .7rem 0 0 0;
  font-size: 1em;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  color: white;
}

.logo-title-color {
  color: #F84C5F;

}

.side-decoration{
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 43rem;

  color: #EEEEEE;
  /* =============== i don't know why it's not aligned to the edge of the viewport =================*/
  transform: rotate(90deg) translateX(360px);
  position: absolute;
  left: 0;
  top: 0;
}
/* i don't know why i feel that the word APP doesn't match 
the size of the MENU in the menu page, while they have the same class name   */
.the-fork-page .side-decoration {
  color: #F3F3F3;
  z-index: -1;

}

/* Social networks
-------------- */
.social-container {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 200px;
  position: fixed;
  top: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Page content
-------------- */
/* Projects page 
============== */

.crousol-container{
  margin-left: 200px;
  position: relative;
  display: flex;
}
.crousol-container article {
  margin-right: 32px;
}


.project-container h2 {
  text-transform: uppercase;
  color: #15212E;
}

.project-container p {

  font-size: 1.25em;
  font-weight: 300;
  text-transform: capitalize;
  
  color: #999999;
}
.project-container img {
  margin-bottom: 3.125rem;
  width: 750px;
}


/* The fork 
============== */
.stripe {
  background-color: #F84C5F;
  width: 100%;
  height: 1%;

}

.project-info {
  max-width: 500px;
  position: relative;
  top: -2%;
  left: 50%;

}
.project-info h1 {
  font-size: 3em;
  font-weight: 500;
  
}

.second-title {
  margin: 0;
  font-size: 3.8em;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 5%;

  color: rgba(255, 255, 255, 0.39);
  
  position: fixed;
  top: 27%;
  z-index: -1;
}

.project-brief {
  margin: 6.25rem 0 10.9375rem 0;
  font-size: 1.25rem;
  line-height: 1.5em;
  font-weight: 500;
}
.project-info .project-brief::after {
  content: '';
  display: block;
  width: 20%;
  height: 3px;
  background-color:  #F84C5F;

  position: absolute;
  bottom: 70%;
  right: 80%;
}

.project-detail-info p {
  margin: 1.875rem 0 4.6875rem 0;
  font-weight: 300;
  max-width: 400px;
}



.project-display .img-logo {
  margin: 0 auto;
  display: block;
  width: 800px;
}

.project-participants {
  margin-left: 6.25rem;
  
}
.project-participants h3 {
  margin: 0 0 1.875rem 0;
  font-size: 1.25em;
  font-weight: 500; 
 
}
.project-participants p {
  margin: 0 0 .5em 0;

  font-weight: 300;
  line-height: 1em;

  color: #999999;
}

.project-display img {
  margin: 0 auto;
  padding: 1em;
  width: 90%;
}
/* Ressume
============== */
.resume-info-wrapper {
  margin-bottom: 6em;
  max-width: 450px;
  position: relative;
  left: 50%;
}
.resume-info-wrapper article {
  margin: 0 0 3.5em -50%;
  display: grid;
  grid-template-columns: 1fr 2fr ;
  grid-auto-rows:minmax(1.25rem,auto);
}

.resume p {
  margin: 0;
}
.side-title {
  grid-row:1/4;
}
.info {
  grid-row: 3/4;
  color: #999999;
}
.design-skills img{
  margin-bottom: 2.25em;

}


/* Contact me 
============== */
.contact-info-wrapper {
  max-width: 500px;
  position: relative;
  left: 50%;
}
.contact-title {
  margin: 0 0 4.5rem 0;
  font-size: 1.25rem;
  line-height: 1.5em;
  font-weight: 500;
}
.contact-info {
  margin-top: 3.5em;
}
.contact-category{
  margin-bottom: 1.875rem;
}
.contact-info p {
  margin: 0;
}
span {
  color: #F84C5F;
}
.contact-info-wrapper img {
  margin: 1.875rem 1.25rem 0 0;
  padding: 0;
}











